aiohttp
aiosignal
async-timeout
asyncio
asynctest
attrs
beautifulsoup4
certifi
chardet
charset-normalizer
fake-useragent
frozenlist
idna
importlib-metadata
multidict
numpy
pandas
python-dateutil
pytz
requests
six
soupsieve
typing_extensions
urllib3
yarl
zipp
asyncio
fake-useragent
apache-airflow-providers-amazon

