yfinance 
pandas 
numpy 
oauth2client 
gspread  
apache-airflow-providers-amazon
apache-airflow-providers-docker
fake-useragent
aiohttp
beautifulsoup4
requests
typing_extensions
scrapy


