fastapi
uvicorn[standard]
gunicorn
aiohttp
pandas
numpy 
oauth2client
fake-useragent
aiohttp
beautifulsoup4
requests
typing_extensions
scrapy
python-dotenv
scrapy-splash
scrapy-redis
scrapy-selenium
selenium
webdriver-manager
polars
sqlalchemy
psycopg2
asyncio
scrapyd
scrapyd-client
celery
flower
redis
pytest
eventlet
